#list1 li {
    font-family: fantasy;
}

#list2 li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrap {
    background-color: aquamarine;
}

.header {
    border-style: groove;
    font-size: larger;
    background-color: blanchedalmond;
    justify-content: center;
}